:root {
    --theme-primary-ebp: #36332f;
    --primary-font-weight-ebp: 300;
    --secondary-font-weight-ebp: 700;
    --tab-color: #000;
    --tab-underline-color: #EA0051;
    --social-icon-color: #000;
}

.fu-branding-social-media svg {
    margin: 0 15px;
    max-width: 30px
}

.ebp .accordion___header {
    padding: 20px;
    background-color: var(--theme-primary-ebp);
    color: var(--theme-primary-ebp, #FFF);
    font-family: var(--heading-font-family);
    /* must be var! overwritten by EBP */
}

.i-amp-accordion section {
    margin: 0 20px;
}

.ebp amp-selector[role=tablist].tabs-with-flex [role=tab][selected] {
    color: var(--tab-color);
    border-bottom: 2px solid var(--tab-underline-color);
}

.fu-branding-social-media svg path {
    fill: var(--social-icon-color);
}

amp-selector[role=tablist].tabs-with-flex [role=tabpanel] {
    padding: 2.5rem 0;
}