/* dotted hr huisgemaakt */
/* moet voorlopig blijven */
hr{
   border:none;
   font-size:28px;
   font-family:Georgia,Cambria,"Times New Roman",Times,serif;
   text-align:center;
   font-weight:300;
   margin-top: 3.1111111em;
margin-bottom: 3.1111111em;
}

hr:before{content:"...";line-height:1.4;font-style:italic;text-indent:.6em;letter-spacing:.6em}




table{font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif}



html{font-size:1rem}

body{font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;color:rgba(0, 0, 0, 0.87);color:rgba(0, 0, 0, 0.87)}








blockquote{font-family:Georgia, Cambria, 'Bitstream Charter', 'Charis SIL', Utopia, 'URW Bookman L', 'Times New Roman', Times, serif;font-family:Georgia, Cambria, 'Bitstream Charter', 'Charis SIL', Utopia, 'URW Bookman L', 'Times New Roman', Times, serif}





h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,.btn,.blogpost .title,nav.breadcrumbs ul li a,nav.breadcrumbs ul li+li:before,.nx-nav-item,.tags a,.footer p,.footer a.h5.block,.mdc-tab{font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif}

.blogpost .title,nav.breadcrumbs ul li a,nav.breadcrumbs ul li+li:before,.nx-nav-item,.tags a,.footer p,.footer a.h5.block,.mdc-tab{font-weight:700}




blockquote{border-left:3px solid #ea0051;padding-left:16px;margin:32px}



.caption{font-size:.75rem;line-height:1.25rem;font-weight:400;letter-spacing:.0333333333em;text-decoration:inherit;text-transform:inherit}

.accordion___header{background-color:#fff}

.i-amp-accordion section{margin:0 20px}



article a,article a:active,article a:visited{text-decoration:underline;color:#ea0051;color:#0080ff;font-weight:bold;cursor:pointer}





article h1,.postArticle--full .graf--title.graf--leading{padding-top:16px}


/* TODO: graf gebruiken bij blog post / developers sections */

.graf--p.graf-after--blockquote,.postArticle-content .graf--p.graf-after--p,.postList+.graf--p{margin-top:29px}

@media(max-width: 839px){figure .graf--figure.graf-after--h4,.graf--mixtapeEmbed.graf-after--h4,.graf--pre.graf-after--h4{margin-top:36px}}

@media(min-width: 840px){figure,.graf--figure.graf-after--h4,.graf--mixtapeEmbed.graf-after--h4,.graf--pre.graf-after--h4{margin-top:44px}}








amp-img.contain img{-o-object-fit:contain;object-fit:contain}




@media(max-width: 320px){.embedder--responsive{max-width:270px}}

@media(min-width: 321px)and (max-width: 480px){.embedder--responsive{max-width:320px}}

@media screen and (device-width: 360px)and (device-height: 640px){.embedder--responsive{max-width:300px}}




#flag-icon amp-img{-webkit-clip-path:circle(50% at 50% 50%);clip-path:circle(50% at 50% 50%);width:24px}




@media(min-width: 840px){footer .container .mx-auto .clearfix{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}}


input{caret-color:#ea0051}

:focus{outline:#ea0051 auto 2px}
















/* @use "./lib/sm-margin";

@use "./lib/md-margin";

@use "./lib/lg-margin";

@use "./lib/sm-padding";

@use "./lib/md-padding";

@use "./lib/lg-padding"; */

/* @use "./lib/grid";

@use "./lib/sm-grid";

@use "./lib/md-grid";

@use "./lib/lg-grid"; */







li{font-size:1rem;line-height:1.5}



img{max-width:100%}



table{border-collapse:separate;border-spacing:0;max-width:100%;width:100%}

th{text-align:left;font-weight:bold;font-weight:bold}

th,td{padding:0 16px;padding:0 16px;line-height:inherit}

th{vertical-align:bottom}

td{vertical-align:top}

table{border-collapse:collapse;border-spacing:2px}

tbody{vertical-align:middle}

td,th{height:52px;vertical-align:inherit}

tr{border-top-color:rgba(0,0,0,.12);border-top-width:1px;border-top-style:solid}

amp-selector[role=tablist].tabs-with-flex{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:42px 16px 24px}

@media(max-width: 320px){amp-selector[role=tablist].tabs-with-flex{max-width:270px;margin:0 auto}}

@media(min-width: 480px){amp-selector[role=tablist].tabs-with-flex{padding:72px 0 0}}

amp-selector[role=tablist].tabs-with-flex [role=tab]{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;text-align:center;padding:.5rem;padding:.5rem}

amp-selector[role=tablist].tabs-with-flex [role=tab][selected]{outline:none;border-bottom:2px solid #ea0051}

amp-selector[role=tablist].tabs-with-flex [role=tabpanel]{display:none;width:100%;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;padding:4rem;padding:4rem}

@media(max-width: 480px){amp-selector[role=tablist].tabs-with-flex [role=tabpanel]{padding:20px 10px}}

amp-selector[role=tablist].tabs-with-flex [role=tab][selected]+[role=tabpanel]{display:block}

amp-selector[role=tablist].tabs-with-selector{display:-webkit-box;display:-ms-flexbox;display:flex}

amp-selector[role=tablist].tabs-with-selector [role=tab][selected]{outline:none;border-bottom:2px solid #ea0051}

amp-selector[role=tablist].tabs-with-selector{display:-webkit-box;display:-ms-flexbox;display:flex}

amp-selector[role=tablist].tabs-with-selector [role=tab]{width:100%;text-align:center;padding:.5rem;padding:.5rem}

amp-selector.tabpanels [role=tabpanel]{display:none;padding:4rem;padding:4rem}

amp-selector.tabpanels [role=tabpanel][selected]{outline:none;display:block}




amp-selector[role=tablist].tabs-with-flex [role=tab][selected]{color:#ea0051}
