/* dotted hr huisgemaakt */
/* moet voorlopig blijven */
hr{
   border:none;
   font-size:28px;
   font-family:Georgia,Cambria,"Times New Roman",Times,serif;
   text-align:center;
   font-weight:300;
   margin-top: 3.1111111em;
margin-bottom: 3.1111111em;
}

hr:before{content:"...";line-height:1.4;font-style:italic;text-indent:.6em;letter-spacing:.6em}




table{font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif}



html{font-size:1rem}

body{font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;color:rgba(0, 0, 0, 0.87);color:rgba(0, 0, 0, 0.87)}








blockquote{font-family:Georgia, Cambria, 'Bitstream Charter', 'Charis SIL', Utopia, 'URW Bookman L', 'Times New Roman', Times, serif;font-family:Georgia, Cambria, 'Bitstream Charter', 'Charis SIL', Utopia, 'URW Bookman L', 'Times New Roman', Times, serif}





h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,.btn,.blogpost .title,nav.breadcrumbs ul li a,nav.breadcrumbs ul li+li:before,.nx-nav-item,.tags a,.footer p,.footer a.h5.block,.mdc-tab{font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;font-family:'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif}

.blogpost .title,nav.breadcrumbs ul li a,nav.breadcrumbs ul li+li:before,.nx-nav-item,.tags a,.footer p,.footer a.h5.block,.mdc-tab{font-weight:700}




blockquote{border-left:3px solid #ea0051;padding-left:16px;margin:32px}



.caption{font-size:.75rem;line-height:1.25rem;font-weight:400;letter-spacing:.0333333333em;text-decoration:inherit;text-transform:inherit}

.accordion___header{background-color:#fff}

.i-amp-accordion section{margin:0 20px}



article a,article a:active,article a:visited{text-decoration:underline;color:#ea0051;color:#0080ff;font-weight:bold;cursor:pointer}





article h1,.postArticle--full .graf--title.graf--leading{padding-top:16px}


/* TODO: graf gebruiken bij blog post / developers sections */

.graf--p.graf-after--blockquote,.postArticle-content .graf--p.graf-after--p,.postList+.graf--p{margin-top:29px}

@media(max-width: 839px){figure .graf--figure.graf-after--h4,.graf--mixtapeEmbed.graf-after--h4,.graf--pre.graf-after--h4{margin-top:36px}}

@media(min-width: 840px){figure,.graf--figure.graf-after--h4,.graf--mixtapeEmbed.graf-after--h4,.graf--pre.graf-after--h4{margin-top:44px}}








amp-img.contain img{-o-object-fit:contain;object-fit:contain}




@media(max-width: 320px){.embedder--responsive{max-width:270px}}

@media(min-width: 321px)and (max-width: 480px){.embedder--responsive{max-width:320px}}

@media screen and (device-width: 360px)and (device-height: 640px){.embedder--responsive{max-width:300px}}




#flag-icon amp-img{-webkit-clip-path:circle(50% at 50% 50%);clip-path:circle(50% at 50% 50%);width:24px}




@media(min-width: 840px){footer .container .mx-auto .clearfix{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}}


input{caret-color:#ea0051}

:focus{outline:#ea0051 auto 2px}
















/* @use "./lib/sm-margin";

@use "./lib/md-margin";

@use "./lib/lg-margin";

@use "./lib/sm-padding";

@use "./lib/md-padding";

@use "./lib/lg-padding"; */

/* @use "./lib/grid";

@use "./lib/sm-grid";

@use "./lib/md-grid";

@use "./lib/lg-grid"; */







li{font-size:1rem;line-height:1.5}



img{max-width:100%}



table{border-collapse:separate;border-spacing:0;max-width:100%;width:100%}

th{text-align:left;font-weight:bold;font-weight:bold}

th,td{padding:0 16px;padding:0 16px;line-height:inherit}

th{vertical-align:bottom}

td{vertical-align:top}

table{border-collapse:collapse;border-spacing:2px}

tbody{vertical-align:middle}

td,th{height:52px;vertical-align:inherit}

tr{border-top-color:rgba(0,0,0,.12);border-top-width:1px;border-top-style:solid}

amp-selector[role=tablist].tabs-with-flex{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:42px 16px 24px}

@media(max-width: 320px){amp-selector[role=tablist].tabs-with-flex{max-width:270px;margin:0 auto}}

@media(min-width: 480px){amp-selector[role=tablist].tabs-with-flex{padding:72px 0 0}}

amp-selector[role=tablist].tabs-with-flex [role=tab]{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;text-align:center;padding:.5rem;padding:.5rem}

amp-selector[role=tablist].tabs-with-flex [role=tab][selected]{outline:none;border-bottom:2px solid #ea0051}

amp-selector[role=tablist].tabs-with-flex [role=tabpanel]{display:none;width:100%;-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;padding:4rem;padding:4rem}

@media(max-width: 480px){amp-selector[role=tablist].tabs-with-flex [role=tabpanel]{padding:20px 10px}}

amp-selector[role=tablist].tabs-with-flex [role=tab][selected]+[role=tabpanel]{display:block}

amp-selector[role=tablist].tabs-with-selector{display:-webkit-box;display:-ms-flexbox;display:flex}

amp-selector[role=tablist].tabs-with-selector [role=tab][selected]{outline:none;border-bottom:2px solid #ea0051}

amp-selector[role=tablist].tabs-with-selector{display:-webkit-box;display:-ms-flexbox;display:flex}

amp-selector[role=tablist].tabs-with-selector [role=tab]{width:100%;text-align:center;padding:.5rem;padding:.5rem}

amp-selector.tabpanels [role=tabpanel]{display:none;padding:4rem;padding:4rem}

amp-selector.tabpanels [role=tabpanel][selected]{outline:none;display:block}




amp-selector[role=tablist].tabs-with-flex [role=tab][selected]{color:#ea0051}







































.mkt-object-cover,.mkt-object-cover>img{-o-object-fit:cover;object-fit:cover}

amp-img.rounded img{border-radius:4px}

.mkt-type-active,.mkt-type-active:visited{color:#fd68ae}

.mkt-type-artistic,.mkt-type-artistic:visited{color:#32dada}

.mkt-type-drinks,.mkt-type-drinks:visited{color:#4e93f8}

.mkt-type-fashion,.mkt-type-fashion:visited{color:#f1c363}

.mkt-type-food,.mkt-type-food:visited{color:#aa5efd}

.mkt-type-music,.mkt-type-music:visited{color:#ec8936}

.mkt-type-nature,.mkt-type-nature:visited{color:#14b52a}

.mkt-type-nightlife,.mkt-type-nightlife:visited{color:#e83a3a}

.mkt-overflow-container{display:inline-block;min-width:100vw;padding-left:calc((100vw - 72rem) / 2);padding-right:calc((100vw - 72rem) / 2)}

.mkt-link,.mkt-link:visited{color:#ea0051;text-decoration:none;font-family:inherit;-webkit-transition:color .15s ease-in;transition:color .15s ease-in}

.mkt-link:hover{color:#ff577d}

.mkt-shadow,.mkt-shadow-hover{-webkit-box-shadow:0 .4rem 1.1rem rgba(50,58,67,.12);box-shadow:0 .4rem 1.1rem rgba(50,58,67,.12)}

.mkt-shadow-hover{-webkit-transition:-webkit-box-shadow .25s,-webkit-transform .25s;transition:-webkit-box-shadow .25s,-webkit-transform .25s;transition:box-shadow .25s,transform .25s;transition:box-shadow .25s,transform .25s,-webkit-box-shadow .25s,-webkit-transform .25s}

.mkt-shadow-hover:not([disabled]):focus,.mkt-shadow-hover:not([disabled]):hover{-webkit-transform:scale(1.02) translateY(-2%);transform:scale(1.02) translateY(-2%);-webkit-box-shadow:0 .4rem 2rem rgba(50,58,67,.4);box-shadow:0 .4rem 2rem rgba(50,58,67,.4)}

.h1.leading-5,.h2.leading-5,.h3.leading-5,.h4.leading-5,.h5.leading-5,.h6.leading-5,h1.leading-5,h2.leading-5,h3.leading-5,h4.leading-5,h5.leading-5,h6.leading-5{line-height:1.4}

.ampstart-btn{-webkit-transition:-webkit-box-shadow .25s,-webkit-transform .25s;transition:-webkit-box-shadow .25s,-webkit-transform .25s;transition:box-shadow .25s,transform .25s;transition:box-shadow .25s,transform .25s,-webkit-box-shadow .25s,-webkit-transform .25s;line-height:1.125rem;padding:.5rem 1rem;border-color:transparent}

.ampstart-btn:not([disabled]):hover{-webkit-transform:scale(1.02) translateY(-2%);transform:scale(1.02) translateY(-2%);-webkit-box-shadow:0 .4rem 2rem rgba(50,58,67,.4);box-shadow:0 .4rem 2rem rgba(50,58,67,.4)}

.ampstart-btn.bold{font-weight:600}

.mkt-date-input{line-height:1.125rem;padding:.5rem 1rem;padding-left:calc(0.5rem * 2.5 + 1.2em)}

.mkt-date-input .mkt-icon{position:absolute;left:0;top:0;-webkit-box-sizing:content-box;box-sizing:content-box;padding:.5rem 1rem}

.mkt-date-input input{opacity:0;border:none;background:none;font:inherit;line-height:1.125rem;height:1.125rem;margin-bottom:calc(1.125rem * -1);width:8rem;color:inherit}

.mkt-date-input-touched input[disabled],.mkt-date-input input[disabled]~.mkt-date-input-label,.mkt-date-input input[disabled]~.mkt-icon{opacity:.5}

.mkt-date-input input::-webkit-datetime-edit-fields-wrapper{padding:0}

.mkt-date-input input::-webkit-clear-button,.mkt-date-input input::-webkit-inner-spin-button{display:none}

.mkt-date-input input::-webkit-calendar-picker-indicator{opacity:0;padding:0;position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer}

.mkt-input-big{padding:1rem 1.25rem}

/* .mkt-activities-activity {
   -webkit-transition: -webkit-transform .3s ease-in-out;
   transition: -webkit-transform .3s ease-in-out;
   transition: transform .3s ease-in-out;
   transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
   text-decoration: none;
   -webkit-perspective: 800px;
   perspective: 800px;
   margin: 0 1.2rem
}

.mkt-activities-activity .circle {
   background-color: #fff;
   margin-bottom: 2px
}

.mkt-activities-activity:focus,
.mkt-activities-activity:hover {
   -webkit-transform: scale(1.1);
   transform: scale(1.1)
}

.mkt-activities-activity .circle {
   -webkit-transition: background .15s step-start .15s, -webkit-transform .3s ease-in-out;
   transition: background .15s step-start .15s, -webkit-transform .3s ease-in-out;
   transition: transform .3s ease-in-out, background .15s step-start .15s;
   transition: transform .3s ease-in-out, background .15s step-start .15s, -webkit-transform .3s ease-in-out
}

.mkt-activities-activity .mkt-activities-activity-icon {
   -webkit-transition: color .15s step-start .15s, -webkit-transform .15s step-start .15s;
   transition: color .15s step-start .15s, -webkit-transform .15s step-start .15s;
   transition: color .15s step-start .15s, transform .15s step-start .15s;
   transition: color .15s step-start .15s, transform .15s step-start .15s, -webkit-transform .15s step-start .15s
}

.mkt-activities-activity:focus .circle,
.mkt-activities-activity:hover .circle {
   background-color: currentColor;
   -webkit-transform: rotateY(180deg);
   transform: rotateY(180deg)
}

.mkt-activities-activity:focus .mkt-activities-activity-icon,
.mkt-activities-activity:hover .mkt-activities-activity-icon {
   color: #fff;
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1)
} */

.mkt-activities-activity-icon {
   display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
   width: 70px;
   height: 70px;
   -ms-flex-align: center;
   -webkit-box-align: center;
   align-items: center;
   -ms-flex-pack: center;
   -webkit-box-pack: center;
   justify-content: center;
   border-radius: 100%;
   font-size: 2rem
}
.mkt-angle-1,.mkt-angle-2,.mkt-angle-3{width:400vw;-webkit-transform-origin:50% 0;transform-origin:50% 0}

.mkt-angle-left{-webkit-transform:translateX(0);transform:translateX(0)}

.mkt-angle-right{-webkit-transform:translateX(100%);transform:translateX(100%)}

.mkt-angle-1{height:800px;-webkit-transform:translate(-50%, -3rem) rotate(20deg);transform:translate(-50%, -3rem) rotate(20deg);background-color:#fafbfc}

@media(min-width: 52.06rem){.mkt-angle-1{-webkit-transform:translate(-50%, -17rem) rotate(20deg);transform:translate(-50%, -17rem) rotate(20deg)}}

.mkt-angle-2{height:1400px;-webkit-transform:translate(-50%, 16rem) rotate(20deg);transform:translate(-50%, 16rem) rotate(20deg);background-color:#fff}

@media(min-width: 52.06rem){.mkt-angle-2{-webkit-transform:translate(-50%, 20rem) rotate(20deg);transform:translate(-50%, 20rem) rotate(20deg)}}

.mkt-angle-3{height:500px;-webkit-transform:translate(-50%, 1rem) rotate(-5deg);transform:translate(-50%, 1rem) rotate(-5deg);background-image:-webkit-gradient(linear, left top, right top, color-stop(20%, rgba(207, 224, 231, 0.2)), color-stop(50%, rgba(243, 246, 247, 0.4)));background-image:linear-gradient(90deg, rgba(207, 224, 231, 0.2) 20%, rgba(243, 246, 247, 0.4) 50%)}

@media(min-width: 52.06rem){.mkt-angle-3{-webkit-transform:translate(-50%, 16rem) rotate(-5deg);transform:translate(-50%, 16rem) rotate(-5deg);-webkit-animation:b .3s .6s ease-in-out both;animation:b .3s .6s ease-in-out both}}

.mkt-discover-panel{max-width:440px;background-color:#fff}

.mkt-discover-heading{font-size:3.5rem}

.mkt-discover-panel-subheading,.mkt-discover-subheading{color:#8f98a3}

.mkt-icon{display:inline-block;vertical-align:-23%;height:1.2em;width:1.2em;background-position:50% 50%;background-repeat:no-repeat;background-size:auto 1.2em}

.mkt-icon-logo{color:#fff}

@-webkit-keyframes c{0.00%{-webkit-transform:translateZ(0) scale(0);transform:translateZ(0) scale(0);opacity:1}14.68%{-webkit-transform:translateZ(0) scale(1.26);transform:translateZ(0) scale(1.26)}31.75%{-webkit-transform:translateZ(0) scale(0.94);transform:translateZ(0) scale(0.94)}48.81%{-webkit-transform:translateZ(0) scale(1.01);transform:translateZ(0) scale(1.01);opacity:1}65.87%{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}80%{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1);opacity:0}to{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1);opacity:0}}

@keyframes c{0.00%{-webkit-transform:translateZ(0) scale(0);transform:translateZ(0) scale(0);opacity:1}14.68%{-webkit-transform:translateZ(0) scale(1.26);transform:translateZ(0) scale(1.26)}31.75%{-webkit-transform:translateZ(0) scale(0.94);transform:translateZ(0) scale(0.94)}48.81%{-webkit-transform:translateZ(0) scale(1.01);transform:translateZ(0) scale(1.01);opacity:1}65.87%{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}80%{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1);opacity:0}to{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1);opacity:0}}

@-webkit-keyframes d{48%{opacity:0}49%{opacity:1}to{opacity:1}}

@keyframes d{48%{opacity:0}49%{opacity:1}to{opacity:1}}

@-webkit-keyframes e{0%{-webkit-transform:translateZ(0) scale(0);transform:translateZ(0) scale(0);opacity:0}30%{opacity:1}40%{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2)}50%{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2);opacity:0}to{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2);opacity:0}}

@keyframes e{0%{-webkit-transform:translateZ(0) scale(0);transform:translateZ(0) scale(0);opacity:0}30%{opacity:1}40%{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2)}50%{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2);opacity:0}to{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2);opacity:0}}

@-webkit-keyframes f{0%{-webkit-transform:translate3d(-50%, 0, 0) scale(0);transform:translate3d(-50%, 0, 0) scale(0);opacity:1}to{-webkit-transform:translate3d(-50%, -100%, 0) scale(1);transform:translate3d(-50%, -100%, 0) scale(1);opacity:0}}

@keyframes f{0%{-webkit-transform:translate3d(-50%, 0, 0) scale(0);transform:translate3d(-50%, 0, 0) scale(0);opacity:1}to{-webkit-transform:translate3d(-50%, -100%, 0) scale(1);transform:translate3d(-50%, -100%, 0) scale(1);opacity:0}}

:root .mkt-popular .mkt-rslts-rslt{-webkit-animation:none;animation:none}

.mkt-popular-tilt-left,.mkt-popular-tilt-right{display:inline-block;position:relative;-webkit-perspective:1000px;perspective:1000px;-webkit-perspective-origin:50% calc(100% + 4rem);perspective-origin:50% calc(100% + 4rem)}

.mkt-popular-tilt-left .mkt-rslts-rslt{-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:rotateY(-15deg);transform:rotateY(-15deg)}

.mkt-popular-tilt-right .mkt-rslts-rslt{-webkit-transform-origin:100% 0;transform-origin:100% 0;-webkit-transform:rotateY(15deg);transform:rotateY(15deg)}

.mkt-popular-tilt-left:before,.mkt-popular-tilt-right:before{content:"";display:block;position:absolute;top:3rem;right:3rem;bottom:2rem;left:3rem;-webkit-box-shadow:0 0 2.2rem 2.2rem rgba(50,58,67,.2);box-shadow:0 0 2.2rem 2.2rem rgba(50,58,67,.2)}

.mkt-popular-tilt-left:before{-webkit-transform-origin:2rem calc(100% + 2rem);transform-origin:2rem calc(100% + 2rem);-webkit-transform:translateY(0.28rem) rotate(2.5deg);transform:translateY(0.28rem) rotate(2.5deg)}

.mkt-popular-tilt-right:before{-webkit-transform-origin:calc(100% + 2rem) calc(100% + 2rem);transform-origin:calc(100% + 2rem) calc(100% + 2rem);-webkit-transform:translateY(0.28rem) rotate(-2.5deg);transform:translateY(0.28rem) rotate(-2.5deg)}

.mkt-rslts-rslt{-webkit-animation:a .4s ease-in-out both;animation:a .4s ease-in-out both;-webkit-animation-delay:.11s;animation-delay:.11s}

.mkt-rslts-rslt-link{border-radius:4px}

.mkt-rslts-rslt-link amp-img{background-color:#e3e5e8}

.mkt-rslts-rslt-text{color:#323a43}

.mkt-rslts-rslt-subtext{color:#8f98a3}

.mkt-rslts-rslt-stars{color:#e3e5e8}

.mkt-rslts-rslt-stars.green{color:#47b074}

.mkt-rslts-rslt-flags,.mkt-rslts-rslt-like{pointer-events:none}

.mkt-rslts-rslt-flags>*,.mkt-rslts-rslt-like>*{pointer-events:all}

.mkt-rslts-rslt-flags,.mkt-rslts-rslt-like,.mkt-rslts-rslt-link{-webkit-transition:-webkit-transform .2s;transition:-webkit-transform .2s;transition:transform .2s;transition:transform .2s, -webkit-transform .2s}

.mkt-rslts-rslt-link:focus,.mkt-rslts-rslt:hover .mkt-rslts-rslt-link{outline:none}

.mkt-rslts-rslt-link:focus,.mkt-rslts-rslt-link:focus~.mkt-rslts-rslt-flags,.mkt-rslts-rslt-link:focus~.mkt-rslts-rslt-like,.mkt-rslts-rslt:hover .mkt-rslts-rslt-flags,.mkt-rslts-rslt:hover .mkt-rslts-rslt-like,.mkt-rslts-rslt:hover .mkt-rslts-rslt-link{-webkit-transform:translateY(-0.5rem);transform:translateY(-0.5rem)}

@-webkit-keyframes g{0%{opacity:0;-webkit-transform:translate3d(5vmax, 2vmax, 0) scale(1.1);transform:translate3d(5vmax, 2vmax, 0) scale(1.1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translate3d(0, -2vmax, 0) scale(1);transform:translate3d(0, -2vmax, 0) scale(1)}}

@keyframes g{0%{opacity:0;-webkit-transform:translate3d(5vmax, 2vmax, 0) scale(1.1);transform:translate3d(5vmax, 2vmax, 0) scale(1.1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translate3d(0, -2vmax, 0) scale(1);transform:translate3d(0, -2vmax, 0) scale(1)}}

@-webkit-keyframes h{0%{opacity:0;-webkit-transform:translate3d(-2vmax, 0, 0) scale(1);transform:translate3d(-2vmax, 0, 0) scale(1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translate3d(2vmax, -2vmax, 0) scale(1.1);transform:translate3d(2vmax, -2vmax, 0) scale(1.1)}}

@keyframes h{0%{opacity:0;-webkit-transform:translate3d(-2vmax, 0, 0) scale(1);transform:translate3d(-2vmax, 0, 0) scale(1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translate3d(2vmax, -2vmax, 0) scale(1.1);transform:translate3d(2vmax, -2vmax, 0) scale(1.1)}}

@-webkit-keyframes i{0%{opacity:0;-webkit-transform:translate3d(0, 2vmax, 0) scale(1);transform:translate3d(0, 2vmax, 0) scale(1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translateY(-2vmax) scale(1.1);transform:translateY(-2vmax) scale(1.1)}}

@keyframes i{0%{opacity:0;-webkit-transform:translate3d(0, 2vmax, 0) scale(1);transform:translate3d(0, 2vmax, 0) scale(1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translateY(-2vmax) scale(1.1);transform:translateY(-2vmax) scale(1.1)}}

.mkt-hero{height:100vmax}

.mkt-hero-bg{height:70vmax;-webkit-animation:b .8s ease-out both;animation:b .8s ease-out both;overflow:hidden}

@media(min-width: 52.06rem){.mkt-hero-bg{overflow:block}}

.mkt-hero-bg:after{content:"";position:absolute;left:0;right:0;height:95vmax;top:calc(70vmax - 300px);background-image:linear-gradient(180deg, transparent, #323a43 300px)}

.mkt-hero-bg-img{top:-5vmax;right:-5vmax;bottom:-5vmax;left:-5vmax;opacity:0;background:#e3e5e8}

.mkt-hero-bg-img img{-o-object-fit:cover;object-fit:cover}

.mkt-hero-bg-img:nth-child(3) img{-o-object-position:80% 100%;object-position:80% 100%}

.mkt-hero-bg-img:first-child{-webkit-animation:18s g linear infinite;animation:18s g linear infinite;background:url(../../d71c377fb8cfdb721e7e.jpg) no-repeat 50% 50%;background-size:cover}

.mkt-hero-bg-img:nth-child(2){-webkit-animation:18s h linear 6s infinite;animation:18s h linear 6s infinite;background:url(../../57b6c7b8d0b469c1255c.jpg) no-repeat 50% 50%;background-size:cover}

.mkt-hero-bg-img:nth-child(3){-webkit-animation:18s i linear 12s infinite;animation:18s i linear 12s infinite;background:url(../../ed1777b94bd67a090440.jpg) no-repeat 50% 50%;background-size:cover}

.mkt-hero-content{padding-top:86px;height:calc(100vmax - 70px)}

.mkt-hero-search-dates{color:#fff}

.mkt-hero-heading{color:#fff;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.6);text-shadow:1px 1px 2px rgba(0, 0, 0, 0.6);font-size:3.75rem;font-weight:700;letter-spacing:normal;-webkit-animation:a .4s .2s ease-in-out both;animation:a .4s .2s ease-in-out both}

.mkt-hero-subheading{color:#fff;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.6);text-shadow:1px 1px 2px rgba(0, 0, 0, 0.6);font-size:18px;letter-spacing:normal;-webkit-animation:a .4s .25s ease-in-out both;animation:a .4s .25s ease-in-out both}

.mkt-hero-search .mkt-input-icon{-webkit-animation:a .4s .3s ease-in-out both;animation:a .4s .3s ease-in-out both}

.mkt-hero-search-dates{-webkit-animation:a .4s .35s ease-in-out both;animation:a .4s .35s ease-in-out both}

.mkt-hero-search .ampstart-btn{font-size:1.25rem;background-color:#ea0051;-webkit-animation:a .4s .4s ease-in-out both;animation:a .4s .4s ease-in-out both}

.mkt-hero-discover{color:#8f98a3;cursor:pointer;-webkit-animation:a .4s .45s ease-in-out both;animation:a .4s .45s ease-in-out both}

.mkt-hero-discover svg{display:block;margin:0 auto}

.mkt-angles{-webkit-animation:a .4s .5s ease-in-out both;animation:a .4s .5s ease-in-out both}

.mkt-discover{-webkit-animation:a .4s .55s ease-in-out both;animation:a .4s .55s ease-in-out both}

.mkt-activities{-webkit-animation:a .4s .6s ease-in-out both;animation:a .4s .6s ease-in-out both}

@media(min-width: 52.06rem){.mkt-hero{z-index:1;height:auto}.mkt-hero-bg,.mkt-hero-content{position:relative;height:auto}.mkt-hero-content{padding-top:calc(86px + 56px);padding-bottom:3rem}.mkt-hero-heading{font-size:4.6rem}.mkt-hero-subheading{font-size:1.5rem}.mkt-hero-search{margin-top:4.25rem;max-width:530px}.mkt-hero .ampstart-btn{display:inline-block;width:auto}.mkt-hero-search-dates{-ms-flex-pack:start;-webkit-box-pack:start;justify-content:flex-start;color:#323a43}.mkt-hero-search-dates .mkt-date-input{-ms-flex:none;-webkit-box-flex:0;flex:none}}

@media(min-width: 40.06rem){.mkt-header .mkt-icon-logo{margin:inherit}}

.mkt-footer-wrapper{background-color:#fff}

@media(min-width: 52.06rem){.mkt-newsletter-signup{background-color:transparent;position:absolute;top:4rem;padding-left:4rem;left:50%}.mkt-newsletter-signup .blue{font-size:2rem;color:#323a43}.mkt-footer-input-bg{position:absolute;top:50%;bottom:-1px}.mkt-footer .mkt-input-group{-webkit-box-shadow:none;box-shadow:none}.mkt-footer .mkt-input-group>button{border-color:#e3e5e8;border-top-style:solid;border-left-width:0}.mkt-footer .mkt-input-group>.mkt-input{border-color:#e3e5e8}}

.mkt-ft-heading{letter-spacing:none}

.mkt-ft-grid,.mkt-ft-tile{margin:2px}

.mkt-ft-tile-heading{letter-spacing:.1em}

.mkt-ft-tile:focus,.mkt-ft-tile:hover{z-index:1}

.mkt-ft-tile amp-img{-webkit-transition:-webkit-transform .5s ease-out,-webkit-box-shadow .5s ease-out;transition:-webkit-transform .5s ease-out,-webkit-box-shadow .5s ease-out;transition:transform .5s ease-out,box-shadow .5s ease-out;transition:transform .5s ease-out,box-shadow .5s ease-out,-webkit-transform .5s ease-out,-webkit-box-shadow .5s ease-out}

.mkt-ft-tile img{-webkit-transition:-webkit-transform 2s ease-out;transition:-webkit-transform 2s ease-out;transition:transform 2s ease-out;transition:transform 2s ease-out, -webkit-transform 2s ease-out;-webkit-transform-origin:50% 66%;transform-origin:50% 66%}

.mkt-ft-tile:focus amp-img,.mkt-ft-tile:hover amp-img{-webkit-box-shadow:0 .6rem 2rem rgba(50,58,67,.4);box-shadow:0 .6rem 2rem rgba(50,58,67,.4);-webkit-transform:scale(1.05);transform:scale(1.05)}

.mkt-ft-tile:focus img,.mkt-ft-tile:hover img{-webkit-transform:scale(1.3);transform:scale(1.3)}

.mkt-ft-tile .mkt-ft-overlay{color:#fff;-webkit-transition:-webkit-transform 2s ease-out;transition:-webkit-transform 2s ease-out;transition:transform 2s ease-out;transition:transform 2s ease-out, -webkit-transform 2s ease-out}

.mkt-ft-tile:hover .mkt-ft-overlay{-webkit-transform:translateY(1rem);transform:translateY(1rem)}

.mkt-ft-tile amp-img:after{content:"";display:block;position:absolute;top:0;left:0;width:100%;padding-bottom:75%;opacity:.9;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor), to(transparent));background-image:linear-gradient(180deg, currentColor 0, transparent)}

@media(min-width: 40.06rem){.mkt-ft-grid,.mkt-ft-tile{margin:4px}}

.featured-flex{max-width:1440px;margin:0 auto;display:block}

@media(min-width: 52.06rem){.featured-flex{max-width:1440px;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex}.mkt-featured:after{content:"";position:absolute;width:100%;z-index:-1;bottom:0;left:0;right:0;height:112px;margin-bottom:-8px;background-color:#ea0051}.mkt-ft-grid,.mkt-ft-tile{margin:6px}}

@media(min-width: 72.06rem){.mkt-ft-grid,.mkt-ft-tile{margin:8px}}

.mkt-ft-clr-blue,.mkt-ft-clr-blue:visited{color:#1b65d6}

.mkt-ft-clr-cyan,.mkt-ft-clr-cyan:visited{color:#91b2c0}

.mkt-ft-clr-orange,.mkt-ft-clr-orange:visited{color:#e2a367}

.mkt-ft-clr-purple,.mkt-ft-clr-purple:visited{color:#281a5f}

.mkt-ft-clr-cornflower,.mkt-ft-clr-cornflower:visited{color:#477bad}

.mkt-ft-clr-teal,.mkt-ft-clr-teal:visited{color:#13a3c4}

.mkt-search{background-color:#ea0051}

.mkt-search-heading{color:#fff}

.mkt-search .mkt-link{background-color:#fff}
