{{/* TODO: https://tailwindui.com/components/application-ui/layout/media-objects  */}}


{{/*  <div class="flex">
  <div class="mr-4 flex-shrink-0 self-center">
    <div class="h-16 w-16 border border-gray-300 bg-white text-gray-300">
    {{ partial "_shared/list-image" . }}
    </div>
  </div>
  <div>
    <span class="text-sm text-gray-600 flex items-center">
      {{ .WordCount }} words
    </span>
    <h2 class="text-gray-900 font-bold text-lg">{{.Title}}</h2>
    <p class="text-gray-700 mt-1">{{ if isset .Params "description"}}{{ .Params.Description | truncate 75}}{{ else }}{{ .Summary | truncate 75}}{{ end }}</p>
    <span class="text-gray-900 leading-none text-sm">{{ if isset .Params "author"}}{{ .Params.Author }}{{ else }}{{end}}</span>
    <span class="text-gray-500 text-sm">{{ if isset .Params "date"}}{{ .Params.date.Format "January 2, 2006" }}{{ else }}{{end}}</span>
  </div>
</div>  */}}

{{/*  <li class="flex">
  <div class="mr-4 flex-shrink-0 self-center">
    <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="no-underline">
      {{ partial "_shared/list-image" . }}
    </a>
  </div>
  <div>
    <span class="text-sm text-gray-600 flex items-center">
      {{ .WordCount }} words
    </span>
    <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="no-underline"><h4 class="text-gray-900 font-bold text-lg font-bold my-1">{{.Title}}</h4></a>
    <p class="text-gray-700 mt-1">{{ if isset .Params "description"}}{{ .Params.Description | truncate 75}}{{ else }}{{ .Summary | truncate 75}}{{ end }}</p>
    <span class="text-gray-900 leading-none text-sm">{{ if isset .Params "author"}}{{ .Params.Author }}{{ else }}{{end}}</span>
    <span class="text-gray-500 text-sm">{{ if isset .Params "date"}}{{ .Params.date.Format "January 2, 2006" }}{{ else }}{{end}}</span>
  </div>
</li>  */}}

<li class="flex py-4">
  <div class="h-36 lg:h-auto lg:w-36 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
    <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="no-underline">
      {{ partial "_shared/list-image" . }}
    </a>
    </div>
  <div class="ml-3">
    <span class="text-sm text-gray-600 flex items-center">
      {{ .WordCount }} words
    </span>
    <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="no-underline"><h4 class="text-gray-900 font-bold text-lg font-bold my-1">{{.Title}}</h4></a>
    <p class="text-gray-700 mt-1">{{ if isset .Params "description"}}{{ .Params.Description | truncate 75}}{{ else }}{{ .Summary | truncate 75}}{{ end }}</p>
    <span class="text-gray-900 leading-none text-sm">{{ if isset .Params "author"}}{{ .Params.Author }}{{ else }}{{end}}</span>
    <span class="text-gray-500 text-sm">{{ if isset .Params "date"}}{{ .Params.date.Format "January 2, 2006" }}{{ else }}{{end}}</span>
  </div>
</li>



{{/*  <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="no-underline">
  <div class="max-w-sm w-full lg:max-w-full lg:flex">
    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
      {{ partial "_shared/list-image" . }}
    </div>
    <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
        <p class="text-sm text-gray-600 flex items-center">
        {{ .WordCount }} words
      </p>
        <div class="text-gray-900 font-bold text-xl font-bold mb-2">{{.Title}}</div>
        <p class="text-gray-700 text-base">{{ if isset .Params "description"}}{{ .Params.Description | truncate 75}}{{ else }}{{ .Summary | truncate 75}}{{ end }}</p>
      </div>
      <div class="flex items-center">
        <div class="text-sm">
          <p class="text-gray-900 leading-none">{{ if isset .Params "author"}}{{ .Params.Author }}{{ else }}{{end}}</p>
          <p class="text-gray-600">{{ if isset .Params "date"}}{{ .Params.date }}{{ else }}{{end}}</p>
        </div>
      </div>
    </div>
  </div>
  </a>  */}}