<!-- Discover -->
<section class="mkt-discover py-16 mb3 relative hidden md:block">
  <div class="max-w-6xl mx-auto px-2 md-px-16">
    <div class="flex justify-between items-center">
      <header class="pr-4">
        <h2 class="mkt-discover-heading bold leading-5 hidden md:block">Apparel<br
            class="md:hidden">
          Buyers</h2>
        <div class="mkt-discover-subheading h2 hidden md:block"><a href="/marketplace/buyers/"
            class="mkt-link">Sign
            up for free</a> and
          search
          thousands of
          products from fashion brands all over the world and discover their available, current and future
          collections.</div>
      </header>
      <div class="mkt-discover-panel mkt-shadow-hover px-8 py-4 ml1 mr3 myn3 hidden md:block">
        <div class="bold h2 leading-5 my1">
          Brands
        </div>
        <p class="mkt-discover-panel-subheading h3 my1 leading-5">
          <a href="/marketplace/brands/" class="mkt-link">Join the Marketplace</a> and
          connect your brands’ B2B webshop and reach 40.000 fashion buyers worldwide. Manual uploading is also
          possible with the easy to use brand profile.
        </p>
        <p class="my1">
          <a class="mkt-link" href="/marketplace/brands/">Read more</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!--/ Discover -->