<!-- Sponsored Messages - Featured -->
<script src=/embed.js async></script>
<section class="mkt-featured mkt-ft pt-16 pb-16 relative clearfix">
  <header class="max-w-lg mx-auto px-2 md:px-4 relative">
    <h3 class="mkt-ft-heading h1 bold leading-5 mb-4 center">Featured Articles</h3>
  </header>
  <div class="max-w-6xl mx-auto relative">
    <h4>Spring / Summer 2022 (see more <a href="https://fashionunited.com/tags/ss22">here</a>)</h4>
    <div class="mkt-ft-grid flex flex-wrap items-stretch">
      <div class="col-12 md-col-6 flex items-stretch flex-auto">
        <div class="fu-news-embed" data-field="fashionunitedComNewsArticles" data-keywords="SS22" data-limit="5" data-component-type="Unstyled">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="max-w-6xl mx-auto relative">
    <h4>Fall / Winter 2022 (see more <a href="https://fashionunited.com/tags/fw22">here</a>)</h4>
    <div class="mkt-ft-grid flex flex-wrap items-stretch">
      <div class="col-12 md-col-6 flex items-stretch flex-auto">
        <div class="fu-news-embed" data-field="fashionunitedComNewsArticles" data-keywords="FW22" data-limit="5" data-component-type="Unstyled">
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Sponsored Messages - Featured -->