{{ define "title" }}<span></span>{{/* Disable the title */}}{{ end }}
{{ define "hero" }}
{{ partial "_tailwind/hero-marketplace" . }}

{{ end }}
{{ define "main-blank"}}
{{ .Content }}

<div></div>

<section class="mkt-main-wrapper overflow-hidden" role="main">
    <section class="relative z20">
        <header class="mkt-header absolute top-0 right-0 left-0">
            <div class="px-2 md:px-16 py-2 md:py-4 flex justify-between items-center">
                <a href="#" class="mkt-icon-logo mx-auto inline-block rounded-full">
                    <div class="mkt-icon mkt-icon-logo text-xl">
                    </div>
                </a>
            </div>
        </header>
    </section>

    <div id="mkt-landing-content" class="mkt-landing-content relative">

        {{ partial "_tailwind/marketplace/angles" . }}
        {{ partial "_tailwind/marketplace/discover" . }}
        {{ partial "_tailwind/marketplace/segments" . }}

        <div class="mkt-footer-wrapper">

            {{ partial "_tailwind/marketplace/hot-items" . }}
            {{ partial "_tailwind/marketplace/top-brands" . }}
            {{ partial "_tailwind/marketplace/sponsored-messages" . }}






            {{/*  brand  */}}
            <section class="mt-16">
            <div class="bg-rose-700">
                <div class="mx-auto max-w-7xl py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
                  <h2 class="text-3xl font-bold tracking-tight text-white">To inspire fashion buyers and
                    provide access to a worldwide purchasing platform.</h2>
                </div>
              </div>
            </section>
        </div>
    </div>
</section>
<!--/ Discover mobile-->
</div>
</div>
</section>
{{ end }}