{{ block "head" . }}
{{ partial "structure_tw/head" . }} {{/* Body starts inside head-amp */}}
{{ end }}
<div></div>
{{/*  {{ block "navigation" . }}{{ partial "_tailwind/navigation" . }}{{ end }}  */}}
{{/* {{ partial "_tailwind/debug-page-resources.html" . }} */}}
<main>
    <div class="">
    {{ block "hero" . }}
        {{ partial "_shared/hero" . }}
    {{ end }}
    </div>
{{ block "main-blank" . }}{{ end }}
</main>
{{/*  {{ block "footer" . }}{{ partial "structure/footer" . }}{{ end }}  */}}
{{ block "source-link" . }}{{ end }}
{{ partial "structure/footer-amp-scripts" . }}
