<footer>
    <div class="px-4 py-8">
        <div class="col col-12"></div>
        <p class="text-center" style="color: white;"><a href="{{ .Params.brand_home_url}}" class="no-underline" target="_blank">{{ .Params.brandname }}</a>
        </p>
        <p class="text-center" style="color: white;"><a href="https://fashionunited.com/international-fashion-jobs" class="no-underline"
                target="_blank">Hosted by FashionUnited</a></p>
        <p class="text-center" style="color: white;"><a href="https://fashionunited.info/privacy" class="no-underline" target="_blank">Career
                Privacy Policy</a></p>
    </div>
    </div>
</footer>
