{{ block "head" . }}
{{ partial "structure_tw/head" . }} {{/* Body starts inside head-amp */}}
{{ end }}
{{ if not .Params.no_navbar }}
{{ end }}
<div></div>
<main>
    <div class="">
    {{ block "hero" . }}
        {{ if isset .Params "headerimage"}}
        {{ partial "_shared/hero-image-srcset" . }}
        {{ else }}
        {{ partial "_shared/hero" . }}
        {{ end }}
    {{ end }}
    </div>
    {{/* {{ partial "_shared/debug-page-resources.html" . }} */}}
{{ block "main-blank" . }}{{ end }}
</main>
{{ if .Params.stand_alone_footer }}
{{ partial "structure/footer-stand-alone-page" . }}
{{ else }}
{{/*  {{ partial "structure/footer" . }}  */}}
{{ end }}
{{ partial "structure/footer-amp-scripts" . }}
